@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* color: #ff00bb */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.heroStroke {
  -webkit-text-stroke: 2px #ff00bb;
  -webkit-text-fill-color: #ffffff00;
}

.userStroke {
  -webkit-text-stroke: 1.3px #000a4a;
  -webkit-text-fill-color: #ffffff00;
}

.bg-blur {
  background: rgba(3, 15, 59, 0.2);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  backdrop-filter: blur(7px);
}

.linear-light {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 186, 0.22) 0%,
    rgba(1, 195, 255, 0.33) 100%
  );
}

.linear-heavy {
  fill: linear-gradient(
    90deg,
    rgba(255, 0, 186, 1) 0%,
    rgba(1, 195, 255, 1) 100%
  );
}
.text-linear {
  background: #abc4ff;
  background: linear-gradient(to bottom left, #abc4ff 0%, #edc6f5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 12rem; */
}

.lds-dual-ring {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.sec-clip {
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
}
.sec-outer-clip {
  clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leading-11 {
  font-weight: 600;
font-size: 38px;
line-height: 57px;
letter-spacing: -0.05em;
}

.leading-12 {
line-height: 75px;

}

/* Tailwind Utillities */


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .linearBg {
    background: linear-gradient(
        90deg,
        rgba(32, 47, 141, 0.65) 0.07%,
        rgba(32, 47, 141, 0.65) 0.08%,
        rgba(32, 47, 141, 0.65) 17.81%,
        rgba(0, 0, 0, 0) 111.82%
      ),
      linear-gradient(
        90deg,
        rgba(32, 47, 141, 0.65) 0.07%,
        rgba(32, 47, 141, 0.65) 0.08%,
        rgba(32, 47, 141, 0.65) 17.81%,
        rgba(0, 0, 0, 0) 111.82%
      ),
      linear-gradient(
        90deg,
        rgba(32, 47, 141, 0.65) 0.07%,
        rgba(32, 47, 141, 0.65) 0.08%,
        rgba(32, 47, 141, 0.65) 17.81%,
        rgba(0, 0, 0, 0) 111.82%
      ),
      linear-gradient(
        90deg,
        rgba(32, 47, 141, 0.65) 0.07%,
        rgba(32, 47, 141, 0.65) 0.08%,
        rgba(32, 47, 141, 0.65) 17.81%,
        rgba(0, 0, 0, 0) 111.82%
      );
  }

  .transitions {
    @apply transition-all duration-300;
  }
  /* Button styles */
  .btn {
    @apply px-4 lg:px-5 py-2  font-medium lg:py-2.5 text-sm lg:text-base  transition-all duration-300;
  }
  .btn-primary {
    @apply bg-primary-blue text-white hover:bg-primary-blue-hover;
  }
  .btn-white {
    @apply bg-white text-primary-blue hover:bg-gray-100;
  }

  .para-cols {
    column-count: 3;
    column-gap: 40px;
  }

  /* styles */
    .flex--items {
    @apply flex items-center;
  }
  
  .flex--center {
    @apply flex items-center;
  }
  .flex--between {
    @apply flex items-center justify-between;
  }

  .board-linear {
    background: linear-gradient(
      360deg,
      #030f3b 0%,
      rgba(64, 85, 164, 0) 62.16%
    );
  }

  .card-shadow-xl {
    box-shadow: 12px 4px 66px rgba(202, 216, 234, 0.25);
  }

  /* fon sizes */
  .text-10xl {
   font-size: 16rem/* 128px */;
    line-height: 1;
  }

  /* markdown */
  .markdown-styles {
    @apply prose max-w-none prose-p:text-sm prose-headings:text-lg md:prose-headings:text-2xl prose-a:text-primary-magenta sm:prose-p:text-base
  }
}
