@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  padding: 0;
  font-weight: 200 !important;
  margin: 0;
  background-color: #fffcf8 !important;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

/* Utility */
.btn {
  border-radius: 0 !important;
  padding: 10px 25px !important;
  font-weight: 200 !important;
  font-size: 0.9rem !important;
}

.bg-main {
  background-color: #000a4a !important;
}

.bg-brown {
  background-color: #391e32 !important;
}

/* .primary {
  color: #000a4a;
} */

.content-styles > p, ol {
  font-size: 19px ;
}
.content-styles p > strong {
  font-size: 20px;
  font-weight: 500;
}
.content-styles p > a {
  color: #FF00BB;
}

.primary-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #000a4a;
  -webkit-text-stroke-width: 1.5px;
}

.secondary {
  color: hotpink;
}

.secondary-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: hotpink;
  -webkit-text-stroke-width: 1.5px;
}

.border-bottom-secondary {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 8px solid hotpink !important;
}

.border-bottom-secondary-input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 5px solid hotpink !important;
}

.btn-primary {
  background-color: #000a4a !important;
  border-color: #000a4a !important;
}

.border-main {
  border: 2px solid #000a4a !important;
  border-color: #000a4a !important;
}

.get-started-button {
  position: absolute;
  top: -10%;
  right: -1.5%;
  box-shadow: -5px 3px 0px 1px rgba(19, 2, 95, 0.467);
  transition: 0.1s all ease-in-out;
}

.get-started-button:hover {
  top: 5%;
  right: 0.5%;
  box-shadow: 0 0 0 0 rgba(19, 2, 95, 0.467);
  transition: 0.1s all ease-in-out;
}

a {
  text-decoration: none !important;
  color: #FF00BB !important;
}

.heading-line-height {
  line-height: 90px !important;
}

.line-height {
  line-height: 26px !important;
}

.negative-70 {
  margin-left: -70px;
  position: relative;
  z-index: 999;
}

@media (max-width: 568px) {
  .negative-70 {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .negative-70 {
    margin-left: 0px;
  }
}

::-webkit-scrollbar {
  display: none !important;
}

.vertical-minus {
  margin-bottom: -100px;
}

.help-business {
  background-image: url(/assets/help-business.png);
  background-size: cover;
}

.hero {
  background-image: url(/assets/hero.png);
  background-size: cover;
}

.no-hassle {
  background-image: url(/assets/ipad.png);
  background-size: cover;
}

.business {
  background-image: url(/assets/business-bg.png);
  background-size: cover;
}

input:focus,
.form-control {
  box-shadow: none !important;
}
.parent-relative {
  position: relative !important;
  z-index: 999 !important;
}
.swirly-one {
  position: absolute !important;
  top: 60%;
  left: 30%;
}

.swirly-two {
  position: absolute !important;
  top: -50%;
  right: 0%;
}

.story-one-blob {
  position: absolute;
  top: 60%;
  left: 30%;
}

.second-story-spiral {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80px
}

.second-story-blob {
  position: absolute;
  top: 60%;
  z-index: -2;
  left: 0;

  max-width: 350px;
}

.divider-btw:before,
.divider-btw:after {
  background-color: #FF00BB;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  font-weight: 400;
  width: 18%;
}

.divider-btw:before {
  right: 0.5em;
  margin-left: -50%;
}
.divider-btw:after {
  left: 0.5em;
  margin-right: -50%;
}


.help-business-btw:before,
.help-business-btw:after {
  background-color: #FF00BB;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  font-weight: 400;
  width: 2%;
}

.help-business-btw:before {
  right: 0.5em;
  margin-left: -50%;
}
.help-business-btw:after {
  left: 0.5em;
  margin-right: -50%;
}


@media only screen and (max-width: 600px) {
  .hero {
    background: #fefefe !important;
  }

  .story-one-blob {
    position: absolute;
    top: 35%;
    left: 0;
  }

  .second-story-blob {
    position: absolute;
    left: 0;
    top: 80%
  }

  .quote-text {
    font-size: 2rem !important;
  }
}
